/*Buttons Style*/

#btn-default{
    background: var(--color-background-primary);
    color: var(--color-text-white);
    margin-bottom: 1rem;
}
#btn-default:hover{
    color: var(--color-secondary-text);
}
/* Tables Style*/

.table {
    color: var(--color-primary-text);
}
.table th{
    text-align: center;
}
.table td {
    text-align: center;
    color: var(--color-text-gray);
    font-size: 1.1rem;
}

/*Inputs Styles*/

form label{
    color: var(--color-primary-text);
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: var(--color-text-white);
    border-color: var(--color-text-primary-hover);
    background-color: var(--color-text-primary-hover);
  }